html,body{
  height:100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.grass, .sky, .road{
  position: relative;
}

.sky{
  height: 40%;
  background: skyblue;
}

.grass{
  height: 30%;
  background: green;
}

.road{
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
}

.lines{
  box-sizing: border-box;
  position: absolute;
  top:50%;
  width: 100%;
  border: 4px dashed white;
}

/*animations*/

.mario{
  position: absolute;
  top:-40px;
  left: 0px;
  animation-name: drive;
  animation-duration: 3s;
  /*forwards will apply from in keyframes to the object after the delay
    backwards will be at from position and then execute after the delay, it doesn't
    stop at to position
    Use both to use both the modes*/
  animation-fill-mode: both;
  /* delay for when the animation kicks in
  animation-delay: 2s;*/
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation: jump 0.3s 1.2s
}

.luigi{
  position: absolute;
  top:45px;
  animation-name: drive;
  animation-direction: reverse;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes drive{
  from{
    transform: translateX(-100px);
  }
  to{
    transform: translate(1380px);
  }
}

.cloud{
  position: absolute;
}

.cloud:nth-child(1){
  width: 200px;
  top:120px;
  opacity: 0.5;
  animation:wind 80s linear infinite reverse;
}

.cloud:nth-child(2){
  width: 300px;
  top:0px;
  animation:wind 50s linear infinite reverse;
}

@keyframes wind{
  from{
    left: -300px;
  }
  to{
    left: 100%;
  }
}

@keyframes jump {
  0%{
    top:-40px;
  }
  50%{
    top:-100px;
  }
  100%{
    top:-40px;
  }
}
