body{
  background-color: #FF5294;
}

.cards{
  margin: 0 auto;
  width: 250px;
  position: relative;
}

.monday{
  position: absolute;
  top:100px;
  height: 350px;
  width: 275px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 0px black, 0px 9px 25px rgba(0, 0, 0, .7);
  z-index: 100;
  transition: all 200ms;
}

.textContainer{
  text-align: center;
  position: absolute;
  top:50%;
  left: 35%;
}

.tuesday,.wednesday{
  opacity: 0.5;
  position: absolute;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 200ms;
  box-shadow: 0px 1px 0px black, 0px 9px 25px rgba(0, 0, 0, .7);
}

.tuesday{
  top:110px;
  width: 235px;
  left: 20px;
  z-index: 80;
}

.wednesday{
  top:120px;
  left: 40px;
  width: 195px;
  z-index: 60;
}
